{% extends 'base.html' %}
{% load static %}

{% block canva %}
    <div class="d-flex justify-content-center">
        <h3> Scientist by work field </h3>
    </div>
    <div class="d-flex justify-content-center" id="container" style="width: 75%;">
        <canvas id="death-chart" data-url="{% url 'cc7220:q4' %}"></canvas>
    </div>
{% endblock %}

{% block customJS  %}
    <script>

        $(function () {

            var $populationChart = $("#death-chart");
            $.ajax({
                url: $populationChart.data("url"),
                success: function (data) {

                    var ctx = $populationChart[0].getContext("2d");

                    new Chart(ctx, {
                        type: 'pie',
                        data: {
                            labels: data.labels,
                            datasets: [{
                                label: 'Population',
                                backgroundColor: ['#fa9b9b', '#86f088', '#f7f872', '#9ddfe5', '#915656', '#c2554b','#ffacde', '#d8b6e3', '#bd7369', '#999999'],
                                data: data.data
                            }]
                        },
                        options: {
                            responsive: true,
                            legend: {
                                position: 'top',
                            },
                            title: {
                                display: true,
                                text: 'Fields of Study'
                            }
                        }
                    });

                }
            });

        });

    </script>
{% endblock %}