{% extends 'base.html' %}
{% load static %}

{% block canva %}
    <div class="d-flex justify-content-center">
        <h3> Wars, Countries & Scientist who participated</h3>
    </div>
    <div class="container" id="table" style="width: 75%;">
        <table class="table table-bordered">
            <tr>
                <th class="header">War</th>
                <th class="header">Country</th>
                <th class="header">Scientists</th>
            </tr>
            {% csrf_token %}
            {% for s in table %}
                <tr>
                    <td>{{ s.warname.value }}</td>
                    <td>{{ s.countryname.value }}</td>
                    <td>{{ s.scientists.value }}</td>
                </tr>
            {% endfor %}
        </table>
    </div>
    <div class="separator-10"><p class="separator-10" style="color: transparent">Separator</p></div>
    <div class="separator-10"><p class="separator-10" style="color: transparent">Separator</p></div>
{% endblock %}

{% block customJS  %}

{% endblock %}