{% extends 'base.html' %}
{% load static %}

{% block canva %}
    <div class="d-flex justify-content-center">
        <h3> Scientist country of birth </h3>
    </div>
    <div id="container" style="width: 75%;">
        <canvas id="population-chart" data-url="{% url 'cc7220:q1' %}"></canvas>
    </div>
{% endblock %}

{% block customJS  %}
    <script>

        $(function () {

            var $populationChart = $("#population-chart");
            $.ajax({
                url: $populationChart.data("url"),
                success: function (data) {

                    var ctx = $populationChart[0].getContext("2d");

                    new Chart(ctx, {
                        type: 'bar',
                        data: {
                            labels: data.labels,
                            datasets: [{
                                label: 'Population',
                                backgroundColor: '#006400',
                                data: data.data
                            }]
                        },
                        options: {
                            responsive: true,
                            legend: {
                                position: 'top',
                            },
                            title: {
                                display: true,
                                text: 'Científicos nacidos por País'
                            }
                        }
                    });

                }
            });

        });

    </script>
{% endblock %}